#Container-Spitz {
  background-color: #FFC2C2;
  width: auto;
  height:90vh; 
  }
  
  .Container-Name {
    font-size: 6vh;
    line-height: 7vh;
    font-weight: bold;
    position: relative;
    padding-top: 51.80556vh;   
    margin-left: 6.9vw; 
  }
  

