#Container-OthersRace h2 {
  text-align: center;
  margin-top: 60.25px;
  font-size: 2.375vw;
  line-height: 5.5417vh;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.Container-OthersRace-Geral {
  width: 80vw;
  height: 111vh;
  display: flex;
  margin-top: 4.2708vh; 
  flex-wrap: wrap;
  padding-left: 5.2083vw; 
  padding-right: 5.2083vw; 
}

.Container-OthersRace-Geral p {
  text-align: center;
  margin-top: 90%;
  font-size: 1.6667vw;
  line-height: 3.4259vh; 
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.Dog {
  width: 22vw;
  height: 54vh;
  border-radius: 4px;
}

.More {
  width: 100%;
  display: flex;
  align-items: center;
}

.More button {
  background-color: white;
  border: solid 2px;
  width: 16.6667vw; 
  height: 7.4074vh;
  border-radius: 96px;
  font-size: 1.25vw; 
  line-height: 2.6852vh; 
  margin-top: 7.8704vh;
  margin-bottom: 22.1296vh; 
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-style: normal;
}


.Bulldog {
background-color:#8BD7FF ;
}
.Rotw{
    background-color:#B4B9FF ;
}

.Corso {
    background-color:#DAAAFF ;
}

.Pug {
    background-color:#88FFCF ;
}

.Pood {
    background-color:#FFE0B7 ;
}

.Shitz {
    background-color:#FFBBEF ;
}




      
