
.Container-Carousel-Horizontal-Left p {
  padding-top: 0;
  font-size: 22px;
  line-height: 29px;
  margin-left: 7.34375vw;
  position: relative;
  padding-top: 1.5vh;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.Container-Carousel-Horizontal-Left button {
  width: 13.54vw;
  height: 6.48vh;
  margin-top: 9vh;
  font-size: 1.25vw;
  line-height: 2.69vh;
  border-radius: 5vw;
  border: none;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 7.34375vw;
  position: relative;
}

  
  

/*@media (max-width: 1366px) {
  .Container-Carousel-Horizontal-Left p {
    margin-top: 5.27778vh;
    font-size: 2.41875vh;
    line-height: 3.21458vh;
  }
  
  .Container-Carousel-Horizontal-Left button {
    width: 12.86vw;
    height: 6.16vh;
    margin-top: 4.75vh;
    font-size: 1.1875vw;
    line-height: 2.55vh;
    border-radius: 4.75vw;
    border: none;
    background-color: white;
    font-weight: bold;
  } 
}

*/
