#Container-Golden {
  width: auto;
  height: 90vh;

background-color: #FFBF71;
}

.Container-Name-GR {
  font-size: 6vh;
  line-height: 7vh;
  font-weight: bold;
  position: relative;
  padding-top: 51.80556vh;   
  margin-left: 6.9vw;  
  }
  

  
