#Container-Header {
  background: #FFFFFF;
  opacity: 1;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Container-Header-Menu {
  margin-left: 7.2917vw;
  width: 9.1667vw;
  height: 3.2407vh;
  font-size: 1.6667vw;
  line-height: 1.8519vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#Container-Header-Buttons {
  margin-right: 7.9167vw;
}

.Header-Button {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  margin-left: 0.5208vw;
  font-size: 0.9375vw;
  line-height: 1.0938vh;
  padding-left: 4.1354vw;
  color: #707070;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.ComoFunciona {
  padding-left: 0px;
}

.Anuncie {
  color: black;
}

 