#Container-York {
    background-color: #FFBD9B;
    width: auto;
    height: 90vh;
    }
    
    .Container-Name-York {
      font-size: 6vh;
      line-height: 7vh;
      font-weight: bold;
      position: relative;
      padding-top: 51.80556vh;   
      margin-left: 6.9vw;  
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-style: normal;
    }
    
  
    